@{
    ViewData["Title"] = "thông tin sinh viên";
}
<div class="text-center">
    <h1>thông tin sinh viên </h1>
    <p>Mã sinh viên: 2301900106</p>
    <p>Họ và tên: Nguyễn Hương Trà </p>
    <p>Email: Nguyentra8704@gmail.com </p>
    <p>Lớp: K23CNT2</p>
</div>