@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên:2310900106.</p>
<p>Họ vfa tên: Nguyễn Hương Trà</p>
<p> Lớp: K23CNT2</p>
<p>email: nguyentrra8704@gmail.com</p>
<p>điện thoại: 033xxxxxxxx</p>
